.page {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #FFFFFF;
}